In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
df = pd.read_csv('player_embedding.csv')
vectors = df.iloc[:,4:]
vectors

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19
0,3.265667,0.757148,1.709361,0.0,1.870791,0.000000,0.0,0.0,0.932092,0.0,1.050203,0.779398,0.0,0.0,3.547777,2.535839,0.914676,1.284182,1.337910,1.294660
1,3.758625,1.209742,1.564240,0.0,0.474581,0.460083,0.0,0.0,0.521481,0.0,1.467055,0.986364,0.0,0.0,2.773616,2.456737,0.486339,0.508786,0.510534,1.164134
2,2.898894,1.266350,1.875545,0.0,1.957869,0.040286,0.0,0.0,0.886252,0.0,0.966359,0.767043,0.0,0.0,3.300267,2.276494,1.297398,0.690070,0.657781,1.098054
3,3.622704,1.384349,1.968731,0.0,0.689646,0.611457,0.0,0.0,0.577605,0.0,0.934327,0.825177,0.0,0.0,2.274490,1.901708,0.385015,1.425968,0.401931,0.913824
4,2.284001,1.387072,2.395956,0.0,1.186806,0.054275,0.0,0.0,1.419867,0.0,0.816368,1.042094,0.0,0.0,2.159883,2.955362,0.189032,0.535729,0.991364,1.050213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126283,0.463187,0.528406,0.896661,0.0,0.989502,1.371228,0.0,0.0,0.669588,0.0,0.600177,0.927473,0.0,0.0,0.705462,1.019581,0.764323,0.865071,0.617943,0.469705
126284,0.459426,0.739470,0.860212,0.0,0.998605,1.291639,0.0,0.0,0.672569,0.0,0.471460,0.524431,0.0,0.0,0.756158,1.039984,0.670674,0.754113,0.496114,0.379089
126285,0.583554,0.534359,0.883899,0.0,1.025931,1.386753,0.0,0.0,0.701014,0.0,0.592992,0.746789,0.0,0.0,0.712209,0.987118,0.721504,1.002327,0.550613,0.527887
126286,0.524298,0.523198,0.106561,0.0,1.139934,1.555437,0.0,0.0,0.601059,0.0,0.505016,0.555318,0.0,0.0,1.317611,0.408143,0.491084,1.087960,0.779156,0.582550
126287,0.477626,0.485325,0.789953,0.0,0.968748,1.572309,0.0,0.0,0.646985,0.0,0.408577,0.723735,0.0,0.0,1.097772,1.140498,0.626529,1.020352,0.640790,0.605206

In [3]:
labels = pd.read_csv('Cleaned_Data/player_cleaned_encoded.csv').iloc[:,2:5]
labels

                short_name player_positions  overall
0                 L. Messi               CF       93
1        Cristiano Ronaldo           LW, LM       92
2                A. Robben       RM, LM, RW       90
3           Z. Ibrahimović               ST       90
4                  Iniesta           CM, LW       89
...                    ...              ...      ...
126283           Song Defu              CDM       47
126284           C. Porter               CM       47
126285            N. Logue               CM       47
126286           L. Rudden               ST       47
126287  E. Lalchhanchhuaha              CAM       47

[126288 rows x 3 columns]

In [4]:
vectors.to_csv('player_vectors.tsv', header=False, sep='\t', encoding='utf-8', index=False)

In [5]:
labels.to_csv('player_tsv_label.tsv', sep='\t', encoding='utf-8', index=False)

In [6]:
team_vectors = pd.read_csv('team_embedding.csv').iloc[:,2:-3]
team_vectors.to_csv('team_vectors.tsv', header=False, sep='\t', encoding='utf-8', index=False)

In [7]:
team_labels = pd.read_csv('team_embedding.csv')[['team','season']]
team_labels.to_csv('team_tsv_label.tsv', sep='\t', encoding='utf-8', index=False)